<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3">
                <h5>Get to Know Us</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}" class="text-white">About ShadeStore</a></li>
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Press Releases</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Nellithanam Paints</li>
                    <li>Etumanoor, Kottayam</li>
                    <li>Phone: 9025925787, 9034678024</li>
                </ul>
            </div>   
            <!-- Help Section -->
            <div class="col-md-3">
                <h5>Let Us Help You</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'customer_profile_update' %}" class="text-white">Your Account</a></li>
                    <li><a href="#" class="text-white">Returns</a></li>
                    <li><a href="{% url 'my_orders' %}" class="text-white">Order Tracking</a></li>
                    <!--<li><a href="#" class="text-white">Help Center</a></li>-->
                </ul>
            </div>
        </div>

        <hr class="bg-white">

        <!-- Footer Bottom -->
        <div class="text-center">
            <p class="mb-0">© 2024 ShadeStore. All Rights Reserved.</p>
        </div>
    </div>
</footer>
